/* Start Variables */
:root {
  --main-color: #f7c08a;
  --bg-color: #333;
  --hover-transition: all 0.4s;
}
/* End Variables */
/* Start Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: 0 0 1px #000 inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
/* End Scroll Bar */
/* Start Reset */
* {
  box-sizing: border-box;
  margin: 0;
}
/* End Reset */
/* Start Main Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
h1, h2, h3 {
  padding-bottom: 20px;
}
span {
  color: var(--main-color);
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
/* End Main Styling */
/* Start Header */
header {
  background-color: var(--bg-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  padding: 0;
}
header .logo a{
  display: block;
  font-size: 25px;
}
header nav ul{
  list-style: none;
  display: flex;
}
header nav ul a{
  display: block;
  padding: 20px;
  transition: var(--hover-transition);
}
header nav ul a:hover,
header nav ul a.current {
  color: var(--main-color);
  background-color: #444;
}
header .bars {
  display: none;
}
/* End Header */
/* Start Showcase */
.showcase {
  height: calc(100vh - 67px);
  background: url('../image/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .container {
  max-width: 600px;
}
.showcase .container h1 {
  font-size: 50px;
}
.showcase .container p {
  font-size: 20px;
  padding-bottom: 40px;
}
.showcase .container a {
  background-color: var(--bg-color);
  padding: 13px 20px;
  transition: var(--hover-transition);
}
.showcase .container a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
/* End Showcase */
/* Start Home Info */
.home-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home-info .info-image {
  background: url('../image/photo-1.jpg') no-repeat center center/cover;
}
.home-info .info-content {
  background-color: var(--bg-color);
  color: #fff;
  text-align: center;
  padding: 70px 80px;
}
.home-info .info-content p {
  padding-bottom: 30px;
}
.home-info .info-content a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: #fff;
  color: var(--bg-color);
  padding: 10px 20px;
  transition: var(--hover-transition);
}
.home-info .info-content a:hover {
  background-color: var(--main-color);
}
/* End Home Info */
/* Start Features */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.features div {
  color: var(--bg-color);
  text-align: center;
  padding: 50px 15px;
}
.features div:nth-child(2) {
  background-color: var(--main-color);
}
.features div i {
  font-size: 50px;
}
.features div h3 {
  padding-top: 5px;
}
/* End Features */
/* Start About Info */
.about-info {
  padding: 30px 0;
}
.about-info .container {
  color: var(--bg-color);
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
}
.about-info .container .text {
  padding-right: 40px;
}
.about-info .container .text h1 {
  font-size: 40px;
}
.about-info .container .text p:first-of-type {
  padding-bottom: 10px;
}
.about-info .container img {
  width: 100%;
  border-radius: 50%;
}
/* End About Info */
/* Start Testimonials */
.testimonials {
  background: url('../image/test-bg.jpg') no-repeat center center/cover;
  padding: 100px 0;
}
.testimonials .container h2 {
  color: #fff;
  font-size: 40px;
  padding-bottom: 40px;
  text-align: center; 
}
.testimonials .container > div {
  background-color: var(--main-color);
  color: var(--bg-color);
  opacity: 0.9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .container > div:last-child {
  margin: 0;
}
.testimonials .container div img {
  width: 13%;
  border-radius: 50%;
  margin-right: 20px;
}
.testimonials .container div p {
  width: 85%;
  line-height: 1.4;
}
/* End Testimonials */
/* Start Contact */
.contact {
  padding: 30px 0;
}
.contact h1 {
  font-size: 40px;
}
.contact p {
  padding-bottom: 25px;
}
.contact form .form-group {
  padding-bottom: 20px;
}
.contact form label {
  display: block;
  padding-bottom: 5px;
}
.contact form input,
.contact form textarea {
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px #ddd solid;
}
.contact form input:focus,
.contact form textarea:focus {
  outline: none;
  border-color: var(--main-color);
}
.contact form input[type='submit'] {
  background-color: var(--bg-color);
  color: #fff;
  width: fit-content;
  font-size: 16px;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  transition: var(--hover-transition);
}
.contact form input[type='submit']:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
/* End Contact */
/* End Contact Info */
.contact-info {
  background-color: var(--bg-color);
  color: #fff;
  padding: 50px;
  text-align: center;
}
.contact-info .container  {
  display: flex;
  justify-content: space-around;
}
.contact-info .container i  {
  font-size: 50px;
}
.contact-info .container h3  {
  padding-top: 10px;
}
.contact-info .container p  {
  font-size: 14px;
}
/* End Contact Info */
/* Start Main Footer */
.main-footer {
  background-color: #444;
  color: #fff;
  padding: 30px;
  text-align: center;
}
/* End Main Footer */


/* Media For mobile */
@media (max-width: 768px) {
  header .container .logo a {
    padding: 20px 0;
  }
  header .bars {
    width: 30px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
  }
  header .bars span {
    display: block;
    background-color: var(--main-color);
    width: 100%;
    height: 3px;
  }
  header .bars span:nth-child(2) {
    width: 75%;
    transition: var(--hover-transition);
  }
  header .bars:hover span:nth-child(2) {
    width: 100%;
  }
  header .container nav {
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    background-color: var(--bg-color);
    height: 0;
    overflow: hidden;
    transition: var(--hover-transition);
  }
  header .container nav.show {
    height: 114.57px;
  }
  header .container ul {
    flex-direction: column;
    padding: 0;
  }
  header .container ul a{
    text-align: center;
    padding: 5px 10px;
    border-bottom: 1px dotted #444;
  }
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .showcase .container h1 {
    font-size: 40px;
  }
  .showcase .container p {
    font-size: 15px;
  }
  .home-info {  
    display: block;
  }
  .home-info .info-image {
    display: none;
  }
  .home-info .info-content {
    padding: 70px 15px;
  }
  .about-info .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .about-info .container .text {
    padding: 0;
    text-align: center;
  }
  .about-info .container .text h1 {
    font-size: 32px;
  }
  .testimonials .container h2 {
    font-size: 32px;
  }
  .testimonials .container div {
    flex-direction: column;
  }
  .testimonials .container div img {
    width: 30%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .testimonials .container div p {
    text-align: center;
    width: 100%;
  }
  .contact-info .container {
    flex-direction: column;
  }
  .contact-info .container div {
    border-bottom: 1px dotted #444;
    padding: 30px 0;
  }
  .main-footer {
    font-size: 13px;
  }
}